
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<h2>Dashboard</h2>
<div class="row" style="margin-left:750px">
    <input type="text" class="form-control col-md-8" placeholder="Search........." id="search"/>
    <input type="button" name="Search" value="Search" class="btn btn-info btn-sm col-md-2 "/>
</div>
<br />

<div class="clearfix"></div>
<div class="col-md-12" style="background-color:aliceblue">
    <br />
    <div class="row">
        <div class="col-md-4">
            
            <div class="card" style="width: 18rem; background-color:aquamarine;height:200px">
                <div class="card-body">
                    <h5 class="card-title">Total School's Students<span class="fa fa-refresh fa-spin"></span></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Student Record:<span class="glyphicon glyphicon-user"></span></h6>
                     <h2>@ViewBag.total</h2>
                    <a href="/Students/StudentList" class="card-link">Student list</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>

